
clear_outputs_and_logs.sh
ComoRAG/
data/
.env
hipporag2/*
.idea/*
# Ignore data directory
# ignore log files
# Ignore nohup_out directory
# Ignore outputs directory
# Ignore python compiled caches
# Ignore test files
# Ignore the bash script to clear files under outputs and logs directories
# Ignore the env file
*.log
nohup_out/
outputs/
*.pyc
__pycache__/
*.pyd
*.pyo
test_example.ipynb
test_example.py
